<h2>The Dashboard</h2>
<!-- Nav tabs -->
{{top-nav routePrefix="dashboard" currentRouteName=application.currentRouteName}}

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active">
    {{outlet}}
  </div>
</div>
