<h2>The Dashboard</h2>
{{top-nav routePrefix="dashboard" currentRouteName=application.currentRouteName}}
{{tab-content content=tableContent columnHeaders=tableColumnHeaders sortBy=sortBy sortAscending=sortAscending}}
{{outlet}}
